<div class="home">
    <img src="https://images.unsplash.com/photo-1612874470096-d93a610de87b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80"
        alt="">
    <h4>സ്വതന്ത്രമായ അഭിപ്രായപ്രകടനത്തിന്നു എല്ലാവർക്കും അധികാരമുണ്ട്‌</h4>
</div>

{{#each blogs}}
<div class="blog-div">
    <img class="blog-img"
        src="https://images.unsplash.com/photo-1612874470096-d93a610de87b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80">
    <div class="text">
        <a href="/users/blog/{{this._id}}">
            <h5>{{this.title}}</h5>
        </a>
        <div class="author">
            <img src="/images/{{this.userid}}.jpg" alt="image">
            <a href="/users/profile/{{this.userid}}">
                <h4> {{this.name}}</h4>
            </a>
        </div>
    </div>
</div>
{{/each}}



<a href="/users/newblog" class="bot-div">
    <h1>+</h1>
</a>



<style>
    a,
    a:hover {
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-decoration: none
    }

    .author {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    .author img {
        border-radius: 100px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        object-fit: cover;
    }

    .text h4 {
        font-size: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0)
    }

    .text p {
        font-family: cursive;
        font-size: 10px;
        color: rgb(0, 0, 0);
        margin-top: 10px;
    }

    .text h5 {
        font-family: 'Noto Sans Malayalam', sans-serif;
        font-size: 14px;
    }

    .text {
        width: 70%;
    }

    .blog-div {
        display: flex;
        margin-top: 10px;
        width: 100%;
        height: 18%;
    }

    .blog-img {
        width: 30%;
        height: 80%;
        border-radius: 0.7rem;
        object-fit: cover;
        margin-right: 5%;
    }

    .home {
        margin-top: 15px;
        padding: 5px;
        border-radius: 1rem;
        width: 100%;
        height: 50%;
    }

    .home h4 {
        font-family: 'Noto Sans Malayalam', sans-serif;
        margin: 5px;
        font-size: 20px;
    }

    .home img {
        width: 100%;
        height: 70%;
        border-radius: 0.7rem;
        object-fit: cover;
        margin-bottom: 10px;

    }


    .bot-div {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: fixed;
        bottom: 0;
        left: 47%;
        background: #000000;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 1rem;
        border: rgb(0, 0, 0) solid 3px;
        margin: 5px;
        cursor: pointer;
    }
</style>